<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>phonebookv3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>DoLoginServlet</display-name>
    <servlet-name>DoLoginServlet</servlet-name>
    <servlet-class>com.aynu.controller.DoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLoginServlet</servlet-name>
    <url-pattern>/DoLoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.aynu.configfilter.LoginFilter</filter-class>
    <init-param>
      <param-name>noLoginPaths</param-name>
      <param-value>style;login.jsp;LoginServlet;register.jsp;DoRegisterServlet;DeleteUser</param-value>
    </init-param>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddItems</display-name>
    <servlet-name>AddItems</servlet-name>
    <servlet-class>com.aynu.controller.AddItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItems</servlet-name>
    <url-pattern>/AddItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshItems</display-name>
    <servlet-name>RefreshItems</servlet-name>
    <servlet-class>com.aynu.controller.RefreshItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshItems</servlet-name>
    <url-pattern>/RefreshItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteItemsById</display-name>
    <servlet-name>deleteItemsById</servlet-name>
    <servlet-class>com.aynu.controller.deleteItemsById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteItemsById</servlet-name>
    <url-pattern>/deleteItemsById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.aynu.controller.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoRegisterServlet</display-name>
    <servlet-name>DoRegisterServlet</servlet-name>
    <servlet-class>com.aynu.controller.DoRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegisterServlet</servlet-name>
    <url-pattern>/DoRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdataItemsById</display-name>
    <servlet-name>UpdataItemsById</servlet-name>
    <servlet-class>com.aynu.controller.UpdataItemsById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdataItemsById</servlet-name>
    <url-pattern>/UpdataItemsById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RootDeleteEmpByUserName</display-name>
    <servlet-name>RootDeleteEmpByUserName</servlet-name>
    <servlet-class>com.aynu.controller.RootDeleteEmpByUserName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RootDeleteEmpByUserName</servlet-name>
    <url-pattern>/RootDeleteEmpByUserName</url-pattern>
  </servlet-mapping>
</web-app>